<!-- <div class="d-flex justify-content-end m-3">
    <button class="btn btn-danger" (click)="onLogOut()">Logout</button>
</div> -->
<div style="text-align: right;">
    <nz-avatar [nzSize]="48" nzIcon="user" nz-dropdown [nzDropdownMenu]="menu" nz-button nz-popover>Hover me</nz-avatar>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul class="dropdownMenu" nz-menu nzSelectable *ngFor="let user of HODArray">
            <li nz-menu-item>User: {{user.user}} | department: {{user.departmet}} </li>
            <li nz-menu-item (click)="onLogOut()">Logout</li>
        </ul>
    </nz-dropdown-menu>
</div>
<section class="hodDashboard1" *ngIf="staffLeaveData.length >= 1">
    <ng-container *ngIf="staffLeaveData.length >= 1">
        <div class="card" *ngFor="let data of staffLeaveData">
            <div class="card-body">
                <h6>Staff Name : {{data.userName}}</h6>
                <h6>Department : {{data.departmentName}}</h6>
                <p><strong>Leave for </strong>{{data.startDate | date}} <strong>To </strong> {{data.endDate | date}}
                </p>
                <ng-container>
                    <p><strong>Number of days</strong> : {{data.leaveDays}}</p>
                </ng-container>
                <p><strong>Reason</strong> : {{data.reason}}</p>

                <div class="btns d-flex justify-content-between">
                    <!-- <button class="btn btn-success" type="submit" *ngIf="!data.isApproved"
                        (click)="onApproved(data.id, data.email)" >Approved</button> -->
                    <button nz-button nzType="primary" type="submit" *ngIf="!data.isApproved"
                        (click)="onApproved(data.id)">Approved</button>
                    <i class="fa-solid fa-check fa-3x text-success" *ngIf="data.isApproved"></i>
                    <!-- <button class="btn btn-danger" type="submit" (click)="onRejected(data.id, data.email)"
                        *ngIf="!data.isRejeted">Reject</button> -->
                    <button nz-button nzType="primary" type="submit" nzDanger *ngIf="!data.isRejeted"
                        (click)="onRejected(data.id)">Reject</button>
                    <i class="fa-solid fa-check fa-3x text-danger" *ngIf="data.isRejeted"></i>

                </div>
            </div>
        </div>
    </ng-container>
</section>

<ng-template>
    <section class="hodDashboard" *ngIf="staffLeaveData.length <= 0">
        <ng-container *ngIf="staffLeaveData.length === 0">
            <h3 class="text-danger">
                No leave Request Available
            </h3>

        </ng-container>
    </section>
</ng-template>