
.login-form {
    max-width: 400px;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }

  .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
      
    .loginForm{
       > form{
        border: 1px solid #000;
      }
    }
     
}
.regForm{
  width: 500px;
  > form{
    border: 1px solid #000;
    padding: 24px;
  }
}